<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">Angular</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fa fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" (click)="handleClick(data)"
                    *ngIf="data.items && data.items.length > 0"
                >
                    <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                    [ngClass]="!data.expanded ? 'fa fa-angle-right' : 'fa fa-angle-down'"></i>

                </a>
    
                <a class="sidenav-nav-link" 
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
                </a>
                <div *ngIf="collapsed && data.items && data.items.length === 0">
                    <app-sublevel-menu
                    [data]="data"
                    [collapsed]="collapsed"
                    [multiple]="multiple"
                    [expanded]="data.expanded"
                    ></app-sublevel-menu>
                </div>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" (click)="logout()" >
                <i class="sidenav-link-icon fa fa-power-off"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Logout</span>
                

            </a>
            </li>
        </ul>
    </div>
</div>
<!-- Dynamically configuring side bar from the sidebar component -->
